<h1><%= @merchant.name %> Invoices</h1>

<% @merchant.invoices.distinct.each do |invoice| %>
  <p><%= link_to "Invoice #{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %></p>
<% end %>