<h1>Admin Merchants</h1>

<h2>Enabled Merchants</h2>
<section id="enabled-merchants">
<% @merchants.each do |merchant| %>
  <% if merchant.enabled? %>
    <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %>

    <%= button_to "Disable #{merchant.name}", "/admin/merchants/#{merchant.id}?status=disabled", method: :patch %>
  <% end %>
<% end %>
</section>

<h2>Disabled Merchants</h2>
<section id="disabled-merchants">
<% @merchants.each do |merchant| %>
  <% if merchant.disabled? %>
    <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %>

    <%= button_to "Enable #{merchant.name}", "/admin/merchants/#{merchant.id}?status=enabled", method: :patch %>
  <% end %>
<% end %>
</section>