<h1>New Merchant Info</h1>

<%= form_with url: admin_merchants_path, method: :post, data: {turbo: false} do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %>
  <%= form.submit "Submit" %>
<% end %>